---
import Html from '../layouts/Html.astro';
import PrimaryLogo from '@components/atoms/logo/PrimaryLogo.svelte';
import LoginForm from '@components/organisms/forms/login/LoginForm.svelte';
---

<Html title="Login">
  <div class="flex items-center flex-col justify-center h-full">
    <div class="mx-auto mb-6">
      <PrimaryLogo width={80} />
      <h1 class="text-2xl font-bold mt-4">Sign In</h1>
    </div>
    <div
      un:bg="white dark:slate-800"
      class="mx-auto w-[400px] p-10 shadow-lg rounded"
    >
      <LoginForm />
    </div>
  </div>
</Html>
