---
import Html from '../layouts/Html.astro';
import PrimaryLogo from '@components/atoms/logo/PrimaryLogo.svelte';
import LoginForm from '@components/organisms/forms/LoginForm.svelte';

import { getUser, redirectUser } from '@astro-auth/core';

const user = getUser({ client: Astro });
if (user) {
  return redirectUser('/admin/dashboard');
}
---

<Html title="Login">
  <div
    class="login-wrapper flex items-center flex-col justify-center h-screen px-4 lt-lg:pb-8 min-h-md"
  >
    <div class="text-center mb-6">
      <PrimaryLogo width={80} />
      <h1 class="text-2xl font-bold mt-4">Sign In</h1>
    </div>
    <div
      un-bg="white dark:slate-800"
      class="mx-auto mx-4 w-full max-w-[400px] p-6 md:p-10 shadow-lg rounded"
    >
      <LoginForm client:load />
    </div>
  </div>
</Html>

<style>
  .login-wrapper {
    margin-top: 2rem;
  }

  @media screen and (min-height: 640px) {
    .login-wrapper {
      margin-top: -40px;
    }
  }
</style>
