@layout('layouts/main')
@set('title', 'RxCP API')

@section('body')
  <main class='h:100vh w:full flex flex:col ai:center jc:center'>
    <h1 class="font:100 font:heavy color:white mb:10">R<span class="bg:cyan-66 bg:conic-gradient(fuchsia-50,cyan-66) bg:text {color:transparent}">x</span>CP</h1>
    <p class="font:light font:18 color:white">API and Admin Dashboard for Ragnarok Servers.</p>
  </main>
@end
