<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/@master/normal.css">
    <script src="https://cdn.master.co/css"></script>
    <style>
      :root {
        --font-sans: 'Inter', sans-serif;;
      }
      body {
        font-family: var(--font-sans);
      }
    </style>
  </head>
  <body class="bg:fade-20">
    @!section('body')
  </body>
</html>
