---
import { user as authUser } from '@store/auth';
import ProfileSidebarMenu from '@components/organisms/profile/ProfileSidebarMenu.svelte';
import ProfileForm from '@components/organisms/profile/ProfileForm.svelte';
import Layout from '@layouts/Dashboard.astro';
import AuthUserAvatar from '@components/atoms/avatar/AuthUserAvatar.svelte';
import MainSidebar from '@components/organisms/main/MainSidebar.svelte';

const user = authUser.get();

if (!user) {
  return Astro.redirect('/login');
}
---

<Layout title="Profile">
  <div class="grid grid-cols-4 gap-8 items-start">
    <div class="flex justify-center">
      {user && <AuthUserAvatar size="xl" client:load />}
    </div>
    <div class="col-span-2">
      {user && <ProfileForm user={user} client:load />}
    </div>
  </div>

  <MainSidebar slot="sidebar">
    <ProfileSidebarMenu />
  </MainSidebar>
</Layout>
