---
import AccountsDataTable from '@components/organisms/dataTables/AccountsDataTable.svelte';
import Layout from '@layouts/Dashboard.astro';
---

<Layout title="Accounts">
  <section>
    <AccountsDataTable client:only="svelte" />
  </section>
</Layout>
