---
import AccountDataTable from '@components/organisms/dataTables/AccountDataTable.svelte';
import Layout from '@layouts/Dashboard.astro';
---

<Layout title="Accounts">
  <section>
    <AccountDataTable client:only="svelte" />
  </section>
</Layout>
