---
import { getUser, redirectUser } from '@astro-auth/core';
import CharactersDataTable from '@components/character/CharactersDataTable.svelte';
import Layout from '@layouts/Dashboard.astro';

const user = getUser({ client: Astro });
if (!user) {
  return redirectUser('/login');
}
---

<Layout title="Characters">
  <section>
    <CharactersDataTable client:load />
  </section>
</Layout>
