---
import { getUser, redirectUser } from '@astro-auth/core';
import Layout from '../../layouts/Dashboard.astro';

const user = getUser({ client: Astro });
if (!user) {
  return redirectUser('/login');
}
---

<Layout title="Dashboard">
  <section>
    <h1 class="text-4xl font-medium">Dashboard</h1>
  </section>
</Layout>
